

/* ---------- AUFBAU ---------- */


/* HEADER */

header {
    display: flex;
    justify-content: space-between;
}

/* NAVIGATION */

nav {
    font-family: sans-serif;
    margin-top: 2em;
    text-align: end;
}

nav ul {
    list-style: none;
    text-align: center;
    line-height: 150%;
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: white;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all .5s;
}
nav ul li a:hover {
    color: #00dd2c;
}

.active {
    color: #00dd2c;
}
.navlogo {
    width: 200px;
    margin-top: 2.5em;
}


body {
    background-color: black;
    margin-left: 10em;
    margin-right: 10em;
}

main {
    margin-bottom: 5em;
}

footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.webseitelink {
    color: white;
    text-decoration: none;
}

.webseitelink:hover {
    color: #00dd2c;
}

.webseitelink,
.webseitelink:after,
.webseitelink:before {
    transition: all .5s;
}

.noeasylink {
    color: #00dd2c;
    text-decoration: none;
}

.noeasylink:hover {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.noeasylink,
.noeasylink:after,
.noeasylink:before {
    transition: all .5s;
}

/* ---------- TEXTFORMATIERUNG ---------- */

p {
    color: white;
    font-family: sans-serif;
}

.text {
    line-height: 150%;
    color: white;
    font-family: sans-serif;
}

.blauertext {
    color: #00dd2c;
}

.sitetitle {
    font-size: 3em;
    font-weight: 800;
    color: #00dd2c;
}

.membersname {
    font-weight: 800;
    font-size: 1.5em;
}



/* ---------- BILDFORMATIERUNG ---------- */



img {
    width: 20%;
}

.dominodiv {
    display: flex;
    flex-direction: row;
}


/* ---------- LAYOUT ---------- */

/* INDEXSEITE */

.mainindex {
    display: flex;
    justify-content: center;
    margin-top: 5em;
}

.indexbilddiv {
    width: 638%;
}

/* MEMBERS */

.member {
    display: flex;
    justify-items: flex-start;
    margin-bottom: 100px;
}

.membersphoto {
    width: 1500px;
}

.memberdetails {
    margin-left: -1100px;
}


/* BUTTONS */

.button {
    background-color: #57b031;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 500ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button:hover,
.button:focus {
    background-color: #458727;
}

.buttonlink {
    color: white;
    text-decoration: none;
}



/* BAND */

.bandmain {
    display: flex;
    align-items: flex-start;
}

.bandphoto {
    width: 50%;
}

.bandmaintext {
    margin-right: 5%;
}

/* INDEXSEITE */

.indexbild {
    width: 115%;
}

.indexnavbild {
    width: 71%;
    margin-left: 12em;
    margin-bottom: 6px;
    transition: 0.4s ease;
    transform-origin: 50% 50%;
}

.indexnavbild:hover {
    transform: scale(1.05);
    width: 73%;
}

/* SONGS */

.songstext {
    width: 80%;
    line-height: 150%;
}

.noeasyalbum {
    width: 5%;
}

.audio {
    align-items: center;
    margin-top: 2.5%;
    margin-left: 5%;
}

.tracklist {
    width: 90%;
}

/* GALLERY */

.images {
    width: 375px;
    padding: 20px;
    transition: 0.7s all ease-in-out
}

.images:hover {
    transform: scale(1.1);
}

.gallerydiv {
    margin-left: -30px;
}

/* ABOUT US */

.disclaimer {
    font-weight: bold;
    font-size: 1.2em;
}

.contactlink{
    text-decoration: none;
    margin-bottom: -3px;
}

.aboutusdiv {
    display: flex;
    justify-content: space-between;
}

.webseitentext {
    line-height: 150%;
    margin-right: 20%;
    margin-bottom: 70px;
}

.author {
    width: 75%;
    margin-top: -30px;
}

.authorsnotes {
    font-weight: 800;
    font-size: 2em;
    color: #00dd2c;
}

div.card{
    width: 18rem; !important;
    height: 13rem; !important;
}

.authorsname {
    font-weight: 600;
    font-size: 1.5em;
    margin-bottom: -5px;
}


/* ABOUT US */

input {
    background-color: lightgrey;
}

textarea {
    background-color: lightgrey;
}






/* CSS CLIENT VALIDATION */



:root {
    --success-color: #57b031;
    --error-color: #d34501;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
}

.form-control label {
    display: block;
    margin-bottom: 5px;
    line-height: 150%;
    color: white;
    font-family: sans-serif;
    margin-top: 25px;
}

.form-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    width: 30%;
    padding: 10px;
    font-size: 14px;
    color: black;
}


.form-control input:focus {
    outline: 0;
    border-color: #777;
}

.form-control.success input {
    border-color: var(--success-color);
}

.form-control.error input {
    border-color: var(--error-color);
}

.form-control small {
    color: var(--error-color);
    position: absolute;
    /* bottom: 0;*/
    left: 0;
    visibility: hidden;
    font-size: .75rem;
}

.form-control.error small {
    visibility: visible;
    font-family: sans-serif;
    font-size: 0.75em;
    margin-top: 5px;
    color: #d34501;
}

.disp {
    font-family: sans-serif;
    font-size: 0.75em;
    margin-top: 5px;
    color: #d34501;
}

.disp2 {
    font-family: sans-serif;
    font-size: 0.75em;
    margin-top: 5px;
    color: #d34501;
}

.disp3 {
    font-family: sans-serif;
    font-size: 0.75em;
    margin-top: 5px;
    color: #d34501;
}

.disp02 {
    font-family: sans-serif;
    font-size: 0.75em;
    margin-top: 5px;
    color: #00dd2c;
}

.disp22 {
    font-family: sans-serif;
    font-size: 0.75em;
    margin-top: 5px;
    color: #00dd2c;
}

.disp32 {
    font-family: sans-serif;
    font-size: 0.75em;
    margin-top: 5px;
    color: #00dd2c;
}

.form button {
    cursor: pointer;
    background-color: #57b031;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 16px;
    padding: 10px;
    margin-top: 50px;
    width: 30%;
}


.form button:hover,
.form button:focus {
    background-color: #458727;
}





